@font-face {
    font-family: ClashDisplay;
    src: url(fonts/ClashDisplay-Variable.ttf);
}

@font-face {
    font-family: Inter;
    src: url(fonts/Inter-Variable.ttf);
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-200px * 9));
        -webkit-transform: translateX(calc(-200px * 9));
        -moz-transform: translateX(calc(-200px * 9));
        -ms-transform: translateX(calc(-200px * 9));
        -o-transform: translateX(calc(-200px * 9));
    }
}

:root {
    --black: #0000;
    --brandcolor-base: #000022;
    --slight-black_05: rgba(0, 0, 0, 0.5);
    --slight-black_035: rgba(0, 0, 0, 0.35);
    --slight-black_025: rgba(0, 0, 0, 0.25);
    --white: #FFFFFF;
    --slight-white-05: rgba(255, 255, 255, 0.5);
    --slight-white-01: rgba(255, 255, 255, 0.1);
    --blg-color: #4CAF50;
    --blgo-color: #FF9500;
    --brandcolor-sub-base: #2196F3;
    --font-family-inter: Inter;
    --font-family-clash_display: ClashDisplay;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semi_bold: 600;
    --font-weight-bold: 700;
}

:focus-visible {
    outline: none;
}

::placeholder {
    color: var(--slight-white-05);
    opacity: 1;
    /* Firefox */
}

::-ms-input-placeholder {
    /* Edge 12 -18 */
    color: var(--slight-white-05);
}

[dark-scroll]::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

[dark-scroll]::-webkit-scrollbar-track-piece {
    background-color: #2b2b2b;
    border: 1px solid #1d1d1d;
}

[dark-scroll]::-webkit-scrollbar-thumb {
    height: 10px;
    background-color: #4d4d4d;
}

[dark-scroll]::-webkit-scrollbar-thumb:hover {
    background-color: #5a5a5a;
}



* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: var(--font-family-inter);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}



body {
    margin: 0px;
    padding: 0;
    border: 0;
    background: var(--brandcolor-base);
    position: relative;
    color: var(--white);
    overflow-x: hidden;
}

.sections {
    padding: 40px 20px;
    max-width: 1600px;
    margin: 0px auto;
}

.footer-section {
    max-width: 1600px;
    margin: 0px auto;
}

.button {
    background: var(--brandcolor-sub-base);
    border-radius: 10px;
    display: flex;
    color: #ffffff;
    text-align: center;
    justify-content: center;
    -webkit-text-decoration: none;
    text-decoration: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.sec-h {
    width: 100%;
    text-align: center;
    color: #ffff;
    font-size: 64px;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: var(--font-family-clash_display);
    font-weight: var(--font-weight-semi_bold);
    letter-spacing: 0.00px;
    line-height: 69px;
    padding: 40px 20px;
}

img {
    max-width: 100%;
    height: auto;
}

.header-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--brandcolor-base);
    z-index: 100;
}

.hn-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-width: 1600px;
    margin: 20px auto;
    background: linear-gradient(334deg, #ffffff0d, #ffffff00), var(--brandcolor-base);
    border: 1px solid var(--slight-white-01);
    border-radius: 30px;
}

.nav-logo, .fslogo {
    max-width: 200px;
    margin-right: 10px;
}

.nav-action {
    display: flex;
    align-items: center;
}

.nav-btn, .cbxbtn, .lcin-btn {
    padding: 16px 24px;
    font-family: var(--font-family-clash_display);
    font-weight: var(--font-weight-semi_bold);
    font-size: 20px;
    align-items: center;
}

.nav-btn {
    max-width: fit-content;
}

span.tnb {
    margin-right: 10px;
}

.cbxbtn, .lcin-btn {
    padding: 16px 24px;
    font-family: var(--font-family-clash_display);
    font-weight: var(--font-weight-semi_bold);
    font-size: 20px;
    align-items: center;
    max-width: 100%;
}

.hero-home {
    align-items: center;
    display: flex;
    flex-direction: row;
    max-width: 1400px;
    padding: 20px;
    margin-top: 120px;
}

.hero-ha1 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
    gap: 40px;
    padding: 20px 0;
}

.hero-h1 {
    font-size: 105px;
    align-content: center;
    font-weight: var(--font-weight-regular);
    color: white;
    text-align: left;
    font-family: var(--font-family-clash_display);
    line-height: 105px;
}

.hero-h1 span {
    font-family: var(--font-family-clash_display);
    font-weight: var(--font-weight-bold);
}

.hero-h1 span:first-child {
    color: var(--blg-color);
}

.hero-h1 span:last-child {
    color: var(--blgo-color);
}

.desc-text {
    color: #ffff;
    font-size: 40px;
    font-family: var(--font-family-clash_display);
    font-weight: var(--font-weight-regular);
    text-align: left;
    line-height: 48px;
    margin: 0;
}


.hero-ha2 {
    display: flex;
    align-items: center;
    justify-content: center;
}


.lc-box {
    background: linear-gradient(334deg, #ffffff0d, #ffffff00), var(--brandcolor-base);
    border: 1px solid var(--slight-white-01);
    border-radius: 30px;
    height: 660px;
    width: 460px;
    max-width: 100%;
    padding: 20px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    display: flex;
}

.lci-box {
    border-radius: 29px;
    height: 670px;
    overflow: hidden;
    max-width: 580px;
    -webkit-border-radius: 29px;
    -moz-border-radius: 29px;
    -ms-border-radius: 29px;
    -o-border-radius: 29px;
}



.lcd-box {
    display: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: transparent;
}

.lcx-1, .lcx-2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.lcli-1, .lcli-3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.spx1m {
    color: #ffff;
    font-size: 14px;
    font-family: var(--font-family-inter);
    font-weight: var(--font-weight-bold);
    line-height: 22px;
    text-align: left;
}

.spx1s {
    font-family: var(--font-family-inter);
    line-height: 17px;
    text-align: left;
    color: var(--slight-white-05);
    font-size: 12px;
    font-weight: var(--font-weight-regular);
}

.spx1d {
    color: var(--blg-color);
    font-family: var(--font-family-inter);
    line-height: 30px;
    text-align: left;
    font-size: 20px;
    font-weight: var(--font-weight-semi_bold);
}

.lcli-2 {
    background-color: var(--slight-white-01);
    border-radius: 10px;
    height: 10px;
    width: auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.lcli-2p {
    background-color: var(--white);
    border-radius: 10px;
    height: 10px;
    width: 80%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.lcto-1 {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.lct1m {
    color: var(--white);
    font-family: var(--font-family-clash_display);
    font-size: 30px;
    font-weight: var(--font-weight-semi_bold);
    line-height: 44px;
    text-align: left;
}

.lct1s {
    color: var(--slight-white-05);
    font-family: var(--font-family-inter);
    font-size: 14px;
    font-weight: var(--font-weight-semi_bold);
    line-height: 22px;
    text-align: left;
}

.lcto-2 {
    background: transparent;
    border: 1px solid var(--slight-white-01);
    border-radius: 10px;
    height: auto;
    width: auto;
    padding: 20px 60px 20px 20px;
}

.lctsp {
    color: #ffff;
    font-size: 14px;
    font-family: var(--font-family-inter);
    font-weight: var(--font-weight-regular);
    letter-spacing: 0px;
    line-height: 30px;
}

.lcx-3 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.lcis {
    color: #ffff;
    display: flex;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    height: 70px;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    background: transparent;
    border: 1px solid var(--slight-white-01);
    font-family: var(--font-family-inter);
    font-weight: var(--font-weight-regular);
    font-size: 24px;
}

.lcin-1 {
    display: flex;
    align-items: center;
    position: relative;
}


.lcin-1::before,
.lcin-1::after {
    --size: 6px;
    content: "";
    position: absolute;
    right: 1rem;
    pointer-events: none;
}

.lcin-1::before {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid white;
    top: 40%;
}

.lcin-1::after {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid white;
    top: 55%;
}

.lcin-2 {
    position: relative;
    display: flex;
    align-items: center;
}

.lcin-2 input {
    background: transparent;
    border: 1px solid var(--slight-white-01);
    font-family: var(--font-family-inter);
    font-weight: var(--font-weight-regular);
    font-size: 24px;
    color: #ffff;
    display: flex;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    height: 70px;
    width: 100%;
}

.lcin-2::after {
    content: "ETH";
    color: var(--slight-white-05);
    font-size: 16px;
    font-family: var(--font-family-inter);
    font-weight: var(--font-weight-regular);
    letter-spacing: 1px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.lcin-btn {
    margin: 10px 0;
}

.lcin-sub {
    color: var(--white);
    font-size: 12px;
    font-family: var(--font-family-inter);
    font-weight: var(--font-weight-semi_bold);
    line-height: normal;
    text-align: center;
    text-decoration: none;
}

.how-it-works {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1400px;
}

.hiw-tab {
    background: linear-gradient(334deg, #ffffff0d, #ffffff00), var(--brandcolor-base);
    border: 1px solid var(--slight-white-01);
    border-radius: 30px;
    margin: 60px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.tab-nav {
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: space-evenly;
    align-items: center;
    background: transparent;
    border: 1px solid var(--slight-white-01);
    border-radius: 10px;
    margin: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.tn {
    border-radius: 10px;
    padding: 16px 24px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family-clash_display);
    font-weight: var(--font-weight-semi_bold);
    font-size: 20px;
    color: var(--brandcolor-sub-base);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.tn-active {
    background: var(--brandcolor-sub-base);
    color: var(--white);
}

.tab-content {
    display: flex;
    align-items: center;
    padding: 20px;
}

.tc {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.tc-show {
    display: flex;
}

.tc-hide {
    display: none;
}

.tct {
    color: var(--white);
    font-family: var(--font-family-inter);
    font-size: 20px;
    font-weight: var(--font-weight-regular);
    line-height: 50px;
    text-align: center;
    width: 100%;
}

.tca-btn {
    width: 100%;
    display: flex;
    height: 80px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family-clash_display);
    font-weight: var(--font-weight-semi_bold);
    font-size: 32px;
    line-height: 28px;
    letter-spacing: 1px;
    padding: 10px 0;
}

.campaigns, .roadmap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cbs-cont {
    position: relative;
    width: 100%;
}

.dots {
    display: flex;
    text-align: center;
    margin-top: 10px;
    justify-content: center;
    background-color: var(--brandcolor-sub-base);
    width: fit-content;
    margin: 0 auto;
    padding: 10px;
    border-radius: 20px;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: var(--slight-white-05);
    border-radius: 50%;
    cursor: pointer;
}

.dot.active {
    background-color: var(--white);
}

.cobox-slider {
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
    /* Hide scrollbar in Firefox */
    width: 100%;
    margin: 60px 0px;
    -ms-overflow-style: none;
    /* Hide scrollbar in IE/Edge */
}


.cobox {
    background: linear-gradient(334deg, #ffffff0d, #ffffff00), var(--brandcolor-base);
    border: 1px solid var(--slight-white-01);
    border-radius: 30px;
    height: 360px;
    flex: 0 0 360px;
    margin-right: 20px;
    padding: 20px;
    display: flex;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.cobox:last-child {
    margin-right: 0;
}

.co-cbox {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.cb1t {
    justify-content: space-around;
}


.cmore {
    display: flex;
    justify-content: center;
    align-items: center;
}


.cbx1 {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.cimg {
    width: 40px;
    height: 40px;
}


.ctitle {
    line-height: 26px;
    text-align: left;
    color: var(--white);
    font-size: 24px;
    font-weight: var(--font-weight-bold);
}

.cdesc {
    line-height: 21px;
    text-align: left;
    color: var(--slight-white-05);
    font-size: 16px;
    font-weight: var(--font-weight-regular);
}

.cbx2 {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.cbxtt {
    line-height: 18px;
    text-align: left;
    color: var(--slight-white-05);
    font-size: 12px;
    font-weight: var(--font-weight-regular);
}

.cbxl {
    line-height: 30px;
    text-align: left;
    color: var(--blg-color);
    font-size: 20px;
    font-weight: var(--font-weight-semi_bold);
}

.cbx3 {
    width: auto;
    height: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: var(--slight-white-01);
}

.cbx3-p {
    width: 70%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    height: 10px;
    background-color: var(--white);
}


.quests {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.lb-box {
    background: linear-gradient(334deg, #ffffff0d, #ffffff00), var(--brandcolor-base);
    border: 1px solid var(--slight-white-01);
    border-radius: 30px;
    height: 740px;
    margin: 60px 0;
    width: 100%;
    display: flex;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.lbbc {
    width: auto;
    padding: 60px;
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
}



.lbba {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}


.lbcs {
    letter-spacing: 0.00px;
    line-height: 20px;
    text-align: left;
    color: var(--white);
    font-size: 64px;
    font-weight: var(--font-weight-bold);
}

.partners {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ptn-cont {
    width: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
    margin: 20px 0;
}

.ptn-slide {
    animation: scroll 180s linear infinite;
    display: flex;
    width: calc(200px * 18);
    -webkit-animation: scroll 180s linear infinite;
}

.ptn-img {
    height: 30px;
    width: 160px;
    margin-right: 40px;
}



.rtl1 {
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin: 10px 0;
}

.rtl1x {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rtl1xl {
    line-height: 16px;
    letter-spacing: 1px;
    text-align: left;
    color: var(--white);
    font-size: 20px;
    text-transform: uppercase;
    font-weight: var(--font-weight-bold);
    font-family: var(--font-family-clash_display);
}

.rtl1xr {
    background-color: transparent;
    border: 1px solid var(--slight-white-01);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    padding: 5px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.rtl1xr span {
    line-height: 16px;
    letter-spacing: 1px;
    font-size: 12px;
    text-transform: uppercase;
    padding: 10px;
    font-family: var(--font-family-clash_display);
    font-weight: var(--font-weight-bold);
}

.xrnow {
    background-color: var(--brandcolor-sub-base);
}

.rtl1y {
    line-height: 29px;
    text-align: left;
    color: var(--brandcolor-sub-base);
    font-size: 25px;
    font-family: var(--font-family-clash_display);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: var(--font-weight-bold);
}

.rtl2 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: auto 0;
}

.rli {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: var(--font-weight-medium);
    line-height: 21px;
}

.rli:before {
    content: '•';
    color: var(--brandcolor-sub-base);
    font-size: 25px;
    margin-right: 5px;
}

.about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aut-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1400px;
    margin: 60px auto 0;
}

.autl {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    width: auto;
}

.autl1 {
    color: var(--white);
    font-size: 45px;
    font-family: var(--font-family-inter);
    font-weight: var(--font-weight-regular);
    letter-spacing: -2.00px;
    line-height: 57px;
    text-align: left;
    width: 80%;
}

.autl2 {
    letter-spacing: -0.50px;
    line-height: 35px;
    text-align: left;
    width: 80%;
    font-family: var(--font-family-inter);
    color: var(--white);
    font-size: 24px;
    font-weight: var(--font-weight-regular);
}


.autr {
    background: linear-gradient(334deg, #ffffff0d, #ffffff00), var(--brandcolor-base);
    border: 1px solid var(--slight-white-01);
    border-radius: 30px;
    height: 460px;
    flex: 0 0 460px;
    max-width: 100%;
    padding: 20px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aui-cont {
    height: auto;
    width: 400px;
    max-width: 100%;
}

.aui-cont img {
    border-radius: 50%;
    border: 3px solid var(--blgo-color);
}

.tok-cont{
    width: 100%;
    max-width: 1400px;
    margin: 60px auto 0;
    gap: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.tc-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background: linear-gradient(334deg, #ffffff0d, #ffffff00), var(--brandcolor-base);
    border: 1px solid var(--slight-white-01);
    border-radius: 10px;
    font-family: var(--font-family-clash_display);
    font-weight: var(--font-weight-semi_bold);
    font-size: 20px;
    line-height: 16px;
    align-items: center;
}

.faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}


.faq-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1400px;
    margin: 60px 0px;
}

.faq-cont details {
    font-size: 24px;
    font-family: var(--font-family-clash_display);
    font-weight: var(--font-weight-semi_bold);
    margin-top: 30;
    background: linear-gradient(334deg, #ffffff0d, #ffffff00), var(--brandcolor-base);
    border: 1px solid var(--slight-white-01);
    border-radius: 30px;
}


.faq-cont details summary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    border-radius: 20px;
}

.detst {
    padding: 20px;
}

.fsbelow {
    padding: 40px 20px;
    border-top: 2px solid #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fsbl {
    color: var(--white);
    font-size: 20px;
    font-weight: var(--font-weight-bold);
    text-align: left;
    margin-right: 10px;
}

.fsbr {
    color: var(--white);
    font-size: 20px;
    font-weight: var(--font-weight-bold);
}

.fsbr a {
    color: #fff;
    margin-right: 20px;
}

.fsbr a:last-child {
    margin-right: 0px;
}

.fsabove {
    padding: 40px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fssocial {
    display: flex;
    gap: 30px;
}

.fssocial div {
    font-size: 40px;
}


@media only screen and (max-width: 1024px) {
    .hero-home, .fsabove{
        flex-direction: column;
        gap:20px;
    }

    .tnb {
        display: none;
    }

    .lc-box {
        max-width: 100%;
        width: 100%;
    }
    .aut-cont, .fsbelow{
        flex-direction: column-reverse;
        gap: 20px;
    }

    .autl{
        align-items: center;
    }

    .hero-h1 {
        font-size: 80px;
        line-height: 80px;
    }
    .nav-btn{
        font-size: 18px;
        padding: 16px 16px;
    }
    .tn{
        font-size: 18px;
        padding: 12px 16px;
    }
    .tab-content{
        margin: 0;
    }
    .lbcs {
        font-size: 32px;
    }
    .fsbr, .fsbl {
        font-size: 15px;
    }
    .fsbr a {
        margin-right: 10px;
    }
}


